
<form class="form_credentials" id="form_credentials" action="{{ form_action }}" method="post">
    <div id="wrapper_form">
        <p id="form_message"></p>
        <div>
            <label for="">
                Email
            </label>
            <input type="text" name="email" />
        </div>
        <div>
            <label for="">
                Mot de passe
            </label>
            <input type="password" name="password" />
        </div>
        {% if form_action == "/register" %}
            <div>
                <label for="">
                    Confirmer mot de passe
                </label>
                <input type="password" name="confirm" />
            </div>
        {% endif %}
        <div>
            <button onclick="submitCredentials()">
                {{ form_button }}
            </button>
        </div>
        <p>
            <span>{{ form_question }}</span>
            <a href="{{ form_href }}"><span style="text-decoration: underline;">{{ form_link }}</span></a>
        </p>
    </div>


    <div id="loading">
        <div class='loader loader_style'>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div>
                              <div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>



