{% extends "base.html" %}
{% set menu = 'Tableau de bord' %}
{% set menu_href = '/dashboard' %}
{% set href = '/logout' %}
{% set button = 'Déconnexion' %}
{% set email = email %}
{% include 'navbar.html' %}

{% block content %}
    <div class="wrapper_predict">
        <p class="instruct_predict">Pour évaluer une transaction, veuillez remplir les champs suivants :</p>
        <form class="form_predict" id="form_predict" action="/predict" method="post">
            <div id="wrapper_predict_form" class="wrapper_predict_form">
                <p id="form_message"></p>
                <div>
                    <div class="predict_left">
                        <div>
                            <label>
                                Type de transaction
                            </label>
                            <select name="kind">
                                <option value="1">Retrait</option>
                                <option value="4">Transfert</option>
                            </select>
                        </div>
                        <div>
                            <label for="amount">
                                Montant de la transaction
                            </label>
                            <input id="amount" type="number" name="amount" />
                        </div>
                        <div>
                            <label for="oldbalanceOrg">
                                Ancien solde de l'expéditeur
                            </label>
                            <input id="oldbalanceOrg" type="number" name="oldbalanceOrg" />
                        </div>
                        <div>
                            <label for="newbalanceOrg">
                                Nouveau solde de l'expéditeur
                            </label>
                            <input id="newbalanceOrg" type="number" name="newbalanceOrg" />
                        </div>
                        <div>
                            <label for="newbalanceDest">
                                Nouveau solde du destinataire
                            </label>
                            <input id="newbalanceDest" type="number" name="newbalanceDest" />
                        </div>
                
                    </div>
                    <div class="predict_right">
                        <div>
                            <label for="step">
                                Heure de la transaction
                            </label>
                            <input id="step" type="number" name="step" />
                        </div>
                        <div>
                            <label for="nameOrg">
                                Compte de l'expéditeur
                            </label>
                            <input id="nameOrg" type="text" name="nameOrg" />
                        </div>
                        <div>
                            <label for="nameDest">
                                Compte du destinataire
                            </label>
                            <input id="nameDest" type="text" name="nameDest" />
                        </div>
                        <div>
                            <label for="oldbalanceDest">
                                Ancien solde du destinataire
                            </label>
                            <input id="oldbalanceDest" type="number" name="oldbalanceDest" />
                        </div>
                    </div>
                    <p class="predict_or">OU</p>
                    <div class="predict_load">
                        <p>Charger un fichier CSV</p>
                        <input type="file" name="file" />
                    </div>
                </div>
                <div>
                    <button onclick="submitPredict()">
                        Confirmer
                    </button>
                </div>
            </div>

            <div id="loading">
                <div class='loader loader_style'>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div>
                              <div>
                                <div>
                                  <div>
                                    <div>
                                      <div></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}